/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  background-color: $nav-y-footer-color;
  color: #FF5E03;
  padding: 2% 0px;
  text-align: center;
  font-weight: bold;
  bottom: 0;
  font-family: $font-nav-footer;

  .pie-pagina {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

  }

  .pago {
    font-size: 20px;

    h2 {
      font-size: 20px;
    }
  }

  .productos {
    h2 {
      font-size: 20px;
    }
  }

  .contactos {
    a{
      color: #FF5E03;
      &:hover{
          color: aliceblue;
      }
  }

    h2 {
      font-size: 20px;
    }
  }

  .newsletter {
    h2 {
      font-size: 20px;
    }
  }

  .footer-productos-item {
    flex-direction: column;
    padding-right: 30%;

    a {
      text-decoration: none;
      color: #FF5E03;

      &:hover {
        color: aliceblue;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0vw 1vw;
    justify-content: center;
    gap: 20px;

    .instagram {
      color: fuchsia;
      width: 20%;
      height: 20%;

      &:hover {
        color: aliceblue;
      }

    }

    .facebook {
      color: blue;
      width: 20%;
      height: 20%;

      &:hover {
        color: aliceblue;
      }
    }

    .twitter {
      color: #58FAF4;
      width: 20%;
      height: 20%;

      &:hover {
        color: aliceblue;
      }
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .bordes {
        border: 0;
        background-image: linear-gradient(45deg, #FF5E03, deeppink, #FF5E03);
        border-radius: 8px;
        display: flex;
        font-size: 18px;
        padding: 4px;
        cursor: pointer;

        .boton {
          padding: 16px 24px;
          color: aliceblue;
          background-color: #191919;
          border-radius: 6px;
          transition: 1s;

          &:hover {
            background-image: linear-gradient(45deg, #FF5E03, deeppink, #FF5E03);
            transform: scale(0.9);
          }
        }
      }
    }

  }
}